.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.embedded-pg/

### IDEs ###
.idea/
*.iws
*.iml
*.ipr
out/
.vscode/
.classpath
.project
.settings/
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### Local secrets ###
.env
*.local.yml

### Terraform ###
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example

### OS ###
.DS_Store
